<form class="product-card-form" [formGroup]="myForm" (submit)="saveProduct()">

    <div class="product-card-inputs">
        <mat-form-field class="each-form-field name-of-product" appearance="fill">
            <mat-label>Назва продукту</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="each-form-field" appearance="fill">
            <mat-label>Кількість</mat-label>
            <input type="number" matInput formControlName="amount">
        </mat-form-field>

        <mat-form-field class="each-form-field measurement-of-product" appearance="fill">
            <mat-label>Одиниця вимірювання</mat-label>
            <mat-select formControlName="measurement">
                <mat-option *ngFor="let measurement of measurements" [value]="measurement.value">
                    {{measurement.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="each-form-field" appearance="fill">
            <mat-label>Категорія</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="button-to-add">
        <button type="submit" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>

</form>