:host{
    background-color: #e0cda6;
    border-bottom: 1px solid #551DC9;
}

h1{
    text-align: center;
    font-size: 50px;
};

.main-header{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    margin: 40px 20px;
};

.menu-item{
    width: 250px;
    background-color: #a56c6836;
};

.menu-item + .menu-item {
    border-top-width: 0;
};

.logo-main{
    position: relative;
};

.image-of-logo{
    position: absolute;
    bottom: -40px;
};