.call-button{
    position: fixed;
    right: 66px;
    bottom:30px;
};

.sns-images img{
    width: 30px;
    height: 30px;
    margin: 30px;
};

.sns-images{
    display: flex;
    justify-content: center
};

.contact-item{
    background-color: #a56c6836;
}